<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <connectionStrings>
      <add name="MyCanvasIdentity" connectionString="Server=tcp:f4hj9owzq4.database.windows.net,1433;Database=MyCanvasProjects;User ID=mcProjectsDb@f4hj9owzq4;Password=Pro!3ctD8aDev;MultipleActiveResultSets=True;Connect Timeout=60" providerName="System.Data.SqlClient" />
      <add name="ProjectDataContext" connectionString="Server=tcp:f4hj9owzq4.database.windows.net,1433;Database=MyCanvasProjects;User ID=mcProjectsDb@f4hj9owzq4;Password=Pro!3ctD8aDev;MultipleActiveResultSets=True;Connect Timeout=60" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="PreserveLoginUrl" value="true" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="IdentityLoginPath" value="/Home/Login" />
      <add key="owin:appStartup" value="MyCanvas.SecurityManager.Identity.MyCanvasOwinStartup, MyCanvas.SecurityManager" />
      <add key="IdentityCookieDomain" value=".localmycanvas.com" />
      <add key="IdentityAncestrySsoUrl" value="https://www.ancestry.com/sso/" />
      <add key="IdentityAncestrySsoReturnUrl" value="https://www.localmycanvas.com" />
      <add key="AncestryClientId" value="61b9b449700579a863492738902b3a2f5dde4cb9" />
      <add key="AncestryClientSecret" value="9205b8e68ce6ba771235ef7fc2a46d96bba07e58fd94c09579aedcd54a0b2494" />
      <add key="DevLevel" value="LOCAL" />
      <add key="LogentriesToken" value="f1d6c094-371e-4b1b-8cbb-152772bc7af3" />
      <add key="Service_environmentNameOrURL" value="mycanvas" />
      <add key="Service_userName" value="admin" />
      <add key="Service_password" value="admin" />
      <add key="Service_applicationName" value="CHILI" />
      <add key="Editor_Workspaceid" value="9911c0ae-ea62-49eb-8760-1e897ab1f745" />
    </appSettings>
    <system.web>
      <machineKey validation="SHA1" validationKey="B94D5B1D71F9D74978EC7B0F51B9591A652B473EB75C404881A33DB2F83967C8B49F6C6D3B89866BBAB05FD824570B93125834A1E6B58685A3095798F9DF4DB8" decryption="AES" decryptionKey="6AA4C785691B44C4DF66DC22FB5A0DA20BD844CB4CA9C882" />
      <httpCookies domain=".localmycanvas.com" httpOnlyCookies="false" requireSSL="false" />
      <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" executionTimeout="3600" relaxedUrlToFileSystemMapping="true" maxRequestLength="204800" maxUrlLength="2000" maxQueryStringLength="2000" />
      <anonymousIdentification enabled="true" cookieName=".MCAID" domain=".localmycanvas.com" cookiePath="/" cookieProtection="All" cookieRequireSSL="false" cookieSlidingExpiration="false" cookieTimeout="86400" cookieless="UseCookies" />
      <membership>
        <providers>
          <clear />
        </providers>
      </membership>
      <compilation debug="true" targetFramework="4.5.2" />
      <pages>
        <namespaces>
          <add namespace="System.Web.Helpers" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Routing" />
          <add namespace="System.Web.WebPages" />
        </namespaces>
      </pages>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <rewrite>
        <rules>
          <rule name="ReverseProxyInboundRule1" stopProcessing="true">
            <match url="CHILI/(.*)" />
            <action type="Rewrite" url="http://apachili.westus.cloudapp.azure.com/CHILI/{R:1}" />
          </rule>
        </rules>
        <outboundRules>
          <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
            <match filterByTags="CustomTags" customTags="Soap" pattern="apachili.westus.cloudapp.azure.com/CHILI/(.*)" />
            <action type="Rewrite" value="http://editor.localmycanvas.com/CHILI/{R:1}" />
          </rule>
          <preConditions>
            <preCondition name="ResponseIsHtml1" logicalGrouping="MatchAny">
              <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
              <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/xml" />
            </preCondition>
          </preConditions>
          <customTags>
            <tags name="Soap">
              <tag name="soap" attribute="location" />
              <tag name="soap:address" attribute="location" />
              <tag name="soap12:address" attribute="location" />
            </tags>
          </customTags>
        </outboundRules>
      </rewrite>
    </system.webServer>
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
      </compilers>
    </system.codedom>
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
        <parameters>
          <parameter value="v13.0" />
        </parameters>
      </defaultConnectionFactory>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
    </entityFramework>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="mainSoap" maxReceivedMessageSize="2147483647" sendTimeout="00:5:00" receiveTimeout="00:5:00" />
          <binding name="BasicHttpBinding_IExport" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00" transferMode="Streamed">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://apachili.westus.cloudapp.azure.com/CHILI/main.asmx" binding="basicHttpBinding" bindingConfiguration="mainSoap" contract="ServiceRef.mainSoap" name="mainSoap" />
        <endpoint address="http://publicwebservices.mycanvas.com/Export.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExport" contract="AncestryPublicWebServices.IExport" name="BasicHttpBinding_IExport" />
      </client>
    </system.serviceModel>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SendGrid.SmtpApi" publicKeyToken="2ae73662c35d80e4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdentityModel" publicKeyToken="e7877f4675df049f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.10.0" newVersion="3.10.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>